# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
insurance_data = pd.read_csv(url)

In [2]:
insurance_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

In [3]:
insurance_data.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [4]:
insurance_data.columns = ['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount']

insurance_data.columns = insurance_data.rename(columns={col: col.replace(" ", "_").lower() for col in insurance_data.columns}).columns

insurance_data.rename(columns={"st":"state"},inplace = True)

insurance_data.columns

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [5]:
insurance_data["vehicle_class"].value_counts()

vehicle_class
Four-Door Car    576
Two-Door Car     205
SUV              199
Sports Car        57
Luxury SUV        20
Luxury Car        14
Name: count, dtype: int64

In [6]:
def clean_gender(gender):
    if gender in ["Male","M"]:
        gender = "M"
    else:
        gender = "F"
    return gender

def clean_state(state):
    if state == "Cali":
        return "California"
    elif state == "WA":
        return "Washington"
    elif state == "AZ":
        return "Arizona"
    else:
        return state

def clean_education(education):
    if education == "Bachelors":
        return "Bachelor"
    else:
        return education
    
def clean_customer_lifetime_value(customer_lifetime_value):
    if isinstance(customer_lifetime_value, str):
        return customer_lifetime_value.replace('%', '')
    elif isinstance(customer_lifetime_value, float):
        return str(customer_lifetime_value).replace('%', '')
    else:
        return customer_lifetime_value  # Return the value unchanged if it's neither a string nor a float

def clean_vehicle_class(vehicle_class):
    if vehicle_class in ["Sports Car", "Luxury SUV","Luxury Car"]:
        return "Luxury"
    else:
        return vehicle_class

    
insurance_data["gender"] = insurance_data["gender"].apply(clean_gender)
insurance_data["state"] = insurance_data["state"].apply(clean_state)
insurance_data["education"] = insurance_data["education"].apply(clean_education)
insurance_data["customer_lifetime_value"] = insurance_data["customer_lifetime_value"].apply(clean_customer_lifetime_value)
insurance_data["vehicle_class"] = insurance_data["vehicle_class"].apply(clean_vehicle_class)

insurance_data.head(20)

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,F,Master,nan,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,825629.78,62902.0,69.0,1/0/00,Personal Auto,Two-Door Car,159.383042
6,XZ87318,Oregon,F,College,538089.86,55350.0,67.0,1/0/00,Corporate Auto,Four-Door Car,321.600000
7,CF85061,Arizona,M,Master,721610.03,0.0,101.0,1/0/00,Corporate Auto,Four-Door Car,363.029680
8,DY87989,Oregon,M,Bachelor,2412750.40,14072.0,71.0,1/0/00,Corporate Auto,Four-Door Car,511.200000
9,BQ94931,Oregon,F,College,738817.81,28812.0,93.0,1/0/00,Special Auto,Four-Door Car,425.527834
10,SX51350,California,M,College,473899.20,0.0,67.0,1/0/00,Personal Auto,Four-Door Car,482.400000
11,VQ65197,California,F,College,819719.71,0.0,110.0,1/0/00,Personal Auto,SUV,528.000000
12,DP39365,California,F,Master,879879.70,77026.0,110.0,1/2/00,Corporate Auto,Four-Door Car,472.029737
13,SJ95423,Arizona,F,High School or Below,881901.89,99845.0,110.0,1/1/00,Corporate Auto,SUV,528.000000
14,IL66569,California,F,College,538443.17,83689.0,70.0,1/2/00,Corporate Auto,Four-Door Car,307.139132
15,BW63560,Oregon,F,Bachelor,746313.94,24599.0,64.0,1/1/00,Corporate Auto,Four-Door Car,42.920271
16,FV94802,Nevada,F,High School or Below,256686.78,25049.0,67.0,1/0/00,Personal Auto,Two-Door Car,454.245098
17,OE15005,California,F,College,394524.16,28855.0,101.0,1/0/00,Personal Auto,SUV,647.442031
18,WC83389,Oregon,F,College,571033.31,51148.0,72.0,1/0/00,Personal Auto,Four-Door Car,308.981664
19,FL50705,California,F,High School or Below,816261.71,66140.0,101.0,1/0/00,Corporate Auto,Four-Door Car,484.800000

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [7]:
insurance_data["customer_lifetime_value"] = pd.to_numeric(insurance_data["customer_lifetime_value"], errors='coerce')

insurance_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   1071 non-null   object
 1   state                      1071 non-null   object
 2   gender                     4008 non-null   object
 3   education                  1071 non-null   object
 4   customer_lifetime_value    1068 non-null   float64
 5   income                     1071 non-null   float64
 6   monthly_premium_auto       1071 non-null   float64
 7   number_of_open_complaints  1071 non-null   object
 8   policy_type                1071 non-null   object
 9   vehicle_class              1071 non-null   object
 10  total_claim_amount         1071 non-null   float64
dtypes: float64(4), object(7)
memory usage: 344.6+ KB

In [8]:
unique_values = insurance_data["number_of_open_complaints"].unique()
unique_values

array(['1/0/00', '1/2/00', '1/1/00', '1/3/00', '1/5/00', '1/4/00', nan],
      dtype=object)

In [9]:
middle_values = []
for value in unique_values:
    if '/' in str(value):  # Check if '/' is present in the value
        parts = str(value).split('/')
        middle_values.append(int(parts[1]))
    else:
        middle_values.append(None)
        
mapping_dict = {value: middle for value, middle in zip(unique_values, middle_values)}

# Step 2: Map the original values to middle values using the dictionary
insurance_data["number_of_open_complaints"] = insurance_data["number_of_open_complaints"].map(mapping_dict)
        
insurance_data.head(20)

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,F,Master,NaN,0.0,1000.0,0.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59,0.0,94.0,0.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17,48767.0,108.0,0.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18,0.0,106.0,0.0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65,36357.0,68.0,0.0,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,825629.78,62902.0,69.0,0.0,Personal Auto,Two-Door Car,159.383042
6,XZ87318,Oregon,F,College,538089.86,55350.0,67.0,0.0,Corporate Auto,Four-Door Car,321.600000
7,CF85061,Arizona,M,Master,721610.03,0.0,101.0,0.0,Corporate Auto,Four-Door Car,363.029680
8,DY87989,Oregon,M,Bachelor,2412750.40,14072.0,71.0,0.0,Corporate Auto,Four-Door Car,511.200000
9,BQ94931,Oregon,F,College,738817.81,28812.0,93.0,0.0,Special Auto,Four-Door Car,425.527834
10,SX51350,California,M,College,473899.20,0.0,67.0,0.0,Personal Auto,Four-Door Car,482.400000
11,VQ65197,California,F,College,819719.71,0.0,110.0,0.0,Personal Auto,SUV,528.000000
12,DP39365,California,F,Master,879879.70,77026.0,110.0,2.0,Corporate Auto,Four-Door Car,472.029737
13,SJ95423,Arizona,F,High School or Below,881901.89,99845.0,110.0,1.0,Corporate Auto,SUV,528.000000
14,IL66569,California,F,College,538443.17,83689.0,70.0,2.0,Corporate Auto,Four-Door Car,307.139132
15,BW63560,Oregon,F,Bachelor,746313.94,24599.0,64.0,1.0,Corporate Auto,Four-Door Car,42.920271
16,FV94802,Nevada,F,High School or Below,256686.78,25049.0,67.0,0.0,Personal Auto,Two-Door Car,454.245098
17,OE15005,California,F,College,394524.16,28855.0,101.0,0.0,Personal Auto,SUV,647.442031
18,WC83389,Oregon,F,College,571033.31,51148.0,72.0,0.0,Personal Auto,Four-Door Car,308.981664
19,FL50705,California,F,High School or Below,816261.71,66140.0,101.0,0.0,Corporate Auto,Four-Door Car,484.800000

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [10]:
insurance_data.isnull().sum()

customer                     2937
state                        2937
gender                          0
education                    2937
customer_lifetime_value      2940
income                       2937
monthly_premium_auto         2937
number_of_open_complaints    2937
policy_type                  2937
vehicle_class                2937
total_claim_amount           2937
dtype: int64

In [11]:
insurance_data.shape

(4008, 11)

In [12]:
insurance_data.head(20)

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,F,Master,NaN,0.0,1000.0,0.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59,0.0,94.0,0.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17,48767.0,108.0,0.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18,0.0,106.0,0.0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65,36357.0,68.0,0.0,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,825629.78,62902.0,69.0,0.0,Personal Auto,Two-Door Car,159.383042
6,XZ87318,Oregon,F,College,538089.86,55350.0,67.0,0.0,Corporate Auto,Four-Door Car,321.600000
7,CF85061,Arizona,M,Master,721610.03,0.0,101.0,0.0,Corporate Auto,Four-Door Car,363.029680
8,DY87989,Oregon,M,Bachelor,2412750.40,14072.0,71.0,0.0,Corporate Auto,Four-Door Car,511.200000
9,BQ94931,Oregon,F,College,738817.81,28812.0,93.0,0.0,Special Auto,Four-Door Car,425.527834
10,SX51350,California,M,College,473899.20,0.0,67.0,0.0,Personal Auto,Four-Door Car,482.400000
11,VQ65197,California,F,College,819719.71,0.0,110.0,0.0,Personal Auto,SUV,528.000000
12,DP39365,California,F,Master,879879.70,77026.0,110.0,2.0,Corporate Auto,Four-Door Car,472.029737
13,SJ95423,Arizona,F,High School or Below,881901.89,99845.0,110.0,1.0,Corporate Auto,SUV,528.000000
14,IL66569,California,F,College,538443.17,83689.0,70.0,2.0,Corporate Auto,Four-Door Car,307.139132
15,BW63560,Oregon,F,Bachelor,746313.94,24599.0,64.0,1.0,Corporate Auto,Four-Door Car,42.920271
16,FV94802,Nevada,F,High School or Below,256686.78,25049.0,67.0,0.0,Personal Auto,Two-Door Car,454.245098
17,OE15005,California,F,College,394524.16,28855.0,101.0,0.0,Personal Auto,SUV,647.442031
18,WC83389,Oregon,F,College,571033.31,51148.0,72.0,0.0,Personal Auto,Four-Door Car,308.981664
19,FL50705,California,F,High School or Below,816261.71,66140.0,101.0,0.0,Corporate Auto,Four-Door Car,484.800000

In [21]:
# Step 0: drop rows with NaN customer - no point in having this data if we can't assign it to a customer
# insurance_data.dropna(subset=['customer'],inplace=True)

# Step1:

insurance_data["customer"].fillna("No number available",inplace=True)
insurance_data["customer_lifetime_value"].fillna(insurance_data["customer_lifetime_value"].mean(),inplace=True)
insurance_data["income"].fillna(insurance_data["income"].mean(),inplace=True)
insurance_data["monthly_premium_auto"].fillna(insurance_data["monthly_premium_auto"].mean(),inplace=True)
insurance_data["policy_type"].fillna(method="ffill",inplace=True)
insurance_data["total_claim_amount"].fillna(insurance_data["total_claim_amount"].mean(),inplace=True)

# Step 2: set NaN for state, education, vehicle class to NA - not an NB variable

insurance_data["state"].fillna("NA",inplace=True)
insurance_data["education"].fillna("NA",inplace=True)
insurance_data["vehicle_class"].fillna("NA",inplace=True)

# step 3: assm NaN complaints = no complaints

insurance_data["number_of_open_complaints"].fillna(0,inplace=True)


insurance_data.isnull().sum()

customer                     0
state                        0
gender                       0
education                    0
customer_lifetime_value      0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
vehicle_class                0
total_claim_amount           0
dtype: int64

In [22]:
insurance_data.shape

(4008, 11)

## Exercise 5: Dealing with duplicates

In [23]:
insurance_data.duplicated().sum()

2936

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [24]:
# used this method as we couldn't use the customer column (so many missing values)

insurance_data.drop_duplicates(inplace=True)
insurance_data.duplicated().sum()

0

In [25]:
insurance_data.reset_index()
insurance_data.to_csv("insurance_data_new.csv", index=False)

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [ ]:
# Your code here

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [ ]:
# Your code here